@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root{
    --dropdown-bg-color:#393646;
    --calendar-head-bg-color:#03C988;
    --week-days-bg-color:#00337C;
    --month-dates-bg-color:#1C82AD;
    --current-date-bg-color:#03C988;
    --current-date-text-color:#00337C;
    --sunday-text-color:#03C988;
    --inactie-date-color:#435B66;
}

*{
    box-sizing: border-box;
    font-family: 'Montserrat';
    margin: 0;
    padding: 0; 
}

body{
    background-color: #242B2E;
    color: #fff;
   
}

.calendar-body{
    display: flex;
    justify-content: center; 
    height: 100vh;
    margin: 20vh 0;  
}

.dropdown-list{
    background-color: #fab150;
    background-color: var(--dropdown-bg-color);
    height: 510px;
    /* height: 499px; */
    padding: 33px 10px;
}

.dropdown-list select{
    border: none;
    font-size: 15px;
    margin-bottom: 50px;
    outline: none;
    padding: 5px 10px;
}

.show-current-date{
    display: flex;
    justify-content: center;
}

.show-current-date button{
    border: none;
    border-radius: 10px;
    background-color: #fedebf;
    background-color: var(--current-date-bg-color);
    color: #fe6e00;
    color: var(--current-date-text-color);
    padding: 8px 18px;
}

.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 700px;
}

.calender-head{
    align-items: center;
    background-color: #fc5603;
    background-color: var(--calendar-head-bg-color);
    display: flex;
    justify-content: space-between;
    padding: 25px 30px;
    width: 100%;
}

.calender-head .month-and-year{
    font-size: 35px;
    font-weight: 900;
}

.calender-head .arrow-buttons {
    font-size: 35px;
    font-weight: 500;
}

.calender-head .arrow-buttons i:first-child{
    margin: 0 25px;
}

.week-days{
    align-content: center;
    background-color: #fe6e00;
    background-color: var(--week-days-bg-color);
    display: grid;
    grid-template-columns: repeat(7, 100px);
    justify-items: center; 
}

.grid-item{
    padding: 20px 25px;
}

.month-dates{
    align-content: center;
    background-color: #ffac42;
    background-color: var(--month-dates-bg-color);
    display: grid;
    grid-template-columns: repeat(7, 100px);
    grid-template-rows: repeat(6, auto);
    /* gap: 5px; */
    justify-items: center;
}

.date-item{
    padding: 20px 25px;
}

.date-item:hover{
    border-radius: 50%;
    background-color: rgb(71, 70, 70);
}

.inactive-date{
    color: #757676;
    color: var(--inactie-date-color);
    padding: 20px 25px;
    
}

.current-date{
    align-items: center;
    background-color: #fedebf;
    background-color: var(--current-date-bg-color);
    color: var(--current-date-text-color);
    border-radius: 50%;
    /* color: #fe6e00; */
    display: flex;
    font-size: 18px;
    justify-content: center;
    /* padding: 20px 20px; */
    padding: 0 20px 0 20px;
}

.sunday{
    color: #fe6e00;
    color: var(--sunday-text-color);
    /* font-weight: 1000; */
    padding: 20px 25px;
}

.date-range{
    background-color:#fedebf;
    color:#fc5603;
    padding: 20px 40px;
    width: 100%;
}