/* Fonts */
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Poppins", sans-serif;
}

/* Colors */
:root {
  --color-default: #222222;
  --color-primary: #008374;
  --color-secondary: #f85a40;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-default);
  color: var(--color-default);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

/* -----------------------------top-bar ----------------------*/

.top-bar {
  display: flex;
  justify-content: space-between;
  background-color: #017669;
  padding: 0.5em 4em;
}

.email-phoneNumber {
  display: flex;
  justify-content: center;
  align-items: center;
}
.email-phoneNumber a {
  text-decoration: none;
  color: #ffffff;
}
.email-phoneNumber i {
  padding: 0em 0.6em;
}
.icon i {
  margin: 0 0.8em;
}
.bi-envelope,
.bi-phone {
  color: #ffffff;
}
.bi-twitter,
.bi-facebook,
.bi-linkedin,
.bi-instagram {
  color: #ffffff;
}

@media only screen and (max-width: 1000px) {
  .social-icons {
    display: none;
  }
  .top-bar {
    display: flex;
    justify-content: center;
    padding: 0.7em 1.5em;
  }
  .email-phoneNumber {
    font-size: 0.8em;
  }
}
/* ----------------------top-bar-------------------- */

/* -------------------------header------------------------- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
  padding: 1em 5em;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
}
.logo h1 {
  color: #ffffff;
  font-weight: 600;
}
.logo span {
  display: inline-block;
  height: 0.2em;
  width: 0.2em;
  background-color: #f9735f;
  border-radius: 50%;
  margin-left: 0.1em;
}

.nav-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.nav-icons li {
  margin: 0em 0.8em;
}

.nav-icons li a {
  text-decoration: none;
  color: #cecece;
  font-weight: 700;
}

.nav-icons li a:hover {
  color: #ffffff;
}
.nav-list {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .nav-icons {
    display: none;
  }
  .nav-list {
    display: block;
    font-size: 2em;
    color: #ffffff;
  }
  header{
    padding: 1em 2em;
  }
}

/* -------------------------header------------------------- */

/* ---------------------hero-section--------------- */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5em 2em 12em 2em;
  background-color: var(--color-primary);
}

.hero-text {
  color: #ffffff;
  margin-left: 9em;
}

.hero-heading {
  font-size: 3.5em;
  font-weight: 700;
  padding-bottom: 0.3em;
}

.hero-para {
  color: #d4d4d4ab;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 2em;
}

.hero-image {
  margin-right: 9em;
}
.hero-btn {
  display: flex;
}

.hero-get-started-btn {
  color: #ffffff;
  font-weight: 400;
  background-color: #039281;
  padding: 1.1em 3em;
  font-size: 1em;
  border: 1px solid #d6d4d4a7;
  border-radius: 60px;
  /* box-shadow: 2px 2px 5px ; */
  margin-right: 1em;
}
.hero-get-started-btn:hover {
  border: 1px solid #ffffff;
  cursor: pointer;
}
.hero-watch-btn {
  background-color: #f3f6f500;
  border: none;
  color: #ffffff;
  font-size: 1em;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bi-play-circle {
  font-size: 2em;
  color: #dedcdcc9;
  text-align: center;
  padding-right: 0.3em;
}
.hero-watch-btn:hover {
  color: #ffffff;
  cursor: pointer;
}
.bi-play-circle:hover {
  color: #ffffff;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .hero {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .hero-text {
    text-align: center;
    margin: 0;
  }
  .hero-btn {
    display: flex;
    justify-content: center;
  }
  .hero-image {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .hero-image img {
    width: 80%;
  }
}

/* ---------------------hero-section--------------- */

/* ------------------------profile-details-section--------------------- */
.profile-details-section {
  text-align: center;
  padding: 3em 2em 4.4em 2em;
  background-color: var(--color-primary);
  color: #ffffff;
}
.profile-details-section h1 {
  font-size: 3.4em;
  font-weight: 500;
  margin-bottom: 0.4em;
}
.profile-details-section p {
  width: 80vw;
  margin: 0 auto;
}

@media screen and (min-width: 900px) {
  .profile-details-section p {
    width: 38vw;
    margin: 0 auto;
  }
}

/* ------------------------profile-details-section--------------------- */

/* ------------------------small-nav-bar--------------------- */
.small-nav-bar {
  background-color: #e9e8e8;
  padding: 1em 0.7em;
}
.small-nav-bar-list {
  display: flex;
}

.small-nav-bar-list li {
  list-style: none;
}
.small-nav-bar-list li a {
  text-decoration: none;
}
.green a {
  color: #039281;
  font-size: 1.1em;
  margin-right: 0.5em;
  font-weight: 500;
}
.red {
  color: red;
  font-size: 1.1em;
  margin-right: 0.5em;
}
.black a {
  color: black;
  font-size: 1.1em;
  font-weight: 500;
}

@media screen and (min-width: 800px) {
  .small-nav-bar {
    padding: 1.2em 6em;
  }
}
/* ------------------------small-nav-bar--------------------- */

/* ---------------------main-section---------------------- */
.main-section {
  width: 100%;
  padding: 3em 1em;
}
.main-section img {
  width: 100%;
}
.head-image img {
  border-radius: 0.6em 0.6em 0 0;
}
.blog-images-text {
  box-shadow: 0 0 10px 0 rgb(227, 227, 227);
  border-radius: 0.6em;
}
.blog-main-heading-text {
  padding: 1em 1.5em;
}
.meta-top ul {
  list-style: none;
  display: flex;
  margin: 1em 0;
}
.meta-top ul li a {
  text-decoration: none;
  color: gray;
}
.meta-top ul li i {
  color: var(--color-primary);
  font-weight: 600;
}
.meta-top ul li {
  margin-right: 0.6em;
}
.para {
  margin-bottom: 1.3em;
}

.main-section blockquote {
  background-color: #ededed;
  padding: 3.2em 3em;
  font-size: 1.5em;
  text-align: center;
  margin: 0.5em 0 1.2em 0;
  border-left: 3px solid red;
}

.para-4 {
  margin-bottom: 1em;
}
.main-section h2 {
  margin-bottom: 0.4em;
}
.sub-heading {
  margin-top: 1.2em;
}
.meta-bottom {
  display: flex;
  color: #a7a6a6;
  margin: 1em 0;
}
.tags {
  display: flex;
}
.cats {
  margin-right: 1em;
}
.meta-bottom i {
  margin-right: 0.4em;
}
.meta-bottom ul li {
  list-style: none;
}
.meta-bottom ul li a {
  text-decoration: none;
  color: #a7a6a6;
}
/* ----author-details---- */
.author-details {
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px 0 rgb(221, 220, 220);
  margin: 2em 0;
  border-radius: 0.6em;
  padding: 1.5em 1.5em;
}
.author-details img {
  width: 7em;
  border-radius: 50%;
  margin-right: 1em;
}
.author-details div p {
  font-size: 1.1em;
  color: #9f9f9f;
}
.social-links a i {
  color: #9f9f9f;
}
.social-links {
  margin-bottom: 0.6em;
}

/* ----author-details---- */




/* -----------------comments-section------------------- */
.comment-section h2 {
  margin-bottom: 1em;
}
.comment-1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2em;
}
.comment-1 img {
  width: 4.7em;
  margin-right: 1em;
}
.comment-writer-name {
  font-size: 1.1em;
  font-weight: 700;
}
.comment-writer-name span {
  color: #039281;
  margin-left: 0.8em;
}
.comment-date {
  color: rgb(150, 149, 149);
  margin-bottom: 0.6em;
}
.comment-3 {
  margin: 0 0 2em 3em;
}
.comment-4 {
  margin: 0 0 2em 4em;
}

/* -----------------comments-section------------------- */




/* --------------------reply-form------------------------- */
.reply-form {
  box-shadow: 0 0 10px 0 rgb(219, 217, 217);
  border-radius: 0.6em;
  padding: 1.7em 2em;
}
.reply-form p {
  margin-bottom: 1em;
}

.reply-form div input {
  width: 100%;
  padding: 1em 1em;
  border-radius: 0.3em;
  border: 1px solid rgb(177, 177, 177);
  margin-bottom: 1.2em;
}
.reply-form input,
textarea {
  width: 100%;
  padding: 1em 1em;
  border-radius: 0.3em;
  border: 1px solid rgb(177, 177, 177);
  margin-bottom: 1.2em;
}
.reply-form textarea {
  resize: vertical;
}
.reply-form-btn {
  padding: 1.2em 3em;
  border-radius: 3em;
  border: none;
  color: #ffffff;
  background-color: rgb(249, 84, 34);
  font-size: 1em;
}

/* --------------------reply-form------------------------- */

/* ------------------aside-section------------------------- */
aside {
  box-shadow: 0 0 10px 0 rgb(212, 212, 212);
  border-radius: 0.6em;
  padding: 1.3em 2em;
  margin-top: 2em;
}
.aside-section-form input,
button {
  border: none;
}
.aside-section-form input {
  outline: none;
}
.aside-section-form {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(188, 188, 188);
  border-right: none;
  padding: 0.8em 0em 0.8em 0.2em;
  border-radius: 1.7em;
  margin-bottom: 2em;
}
.aside-section-form button i {
  background-color: #039281;
  color: #ffffff;
  font-size: 1.4em;
  padding: 0.8em 1.4em;
  border-radius: 1.7em;
}
.sidebar-title {
  font-size: 1.4em;
  margin-bottom: 0.8em;
}
.sidebar-item-list {
  list-style: none;
}
.sidebar-item-list li {
  margin-bottom: 0.5em;
}
.sidebar-item-list li a {
  text-decoration: none;
  color: black;
}
.sidebar-item-list li a span {
  color: rgb(171, 170, 170);
}



.recent-post {
  margin: 2em 0;
}
.recent-post .post {
  display: flex;
}
.recent-post .post img {
  width: 5.4em;
  margin-right: 0.9em;
}
.recent-post-text{
    font-size: .9em;
}
.recent-post-text h3{
   margin-bottom: .4em;
}
.recent-post-date{
    color: rgb(180, 179, 179);
}

.sidebar-tags-title{
    margin-bottom: 1em;
    font-size: 1.2em;
}
.sidebar-tags ul{
    list-style: none;
}
.sidebar-tags ul li{
    display: inline-block;
    margin-bottom: 1.5em;
}
.sidebar-tags ul li a{
    text-decoration: none;
    color: gray;
    padding: .4em 1em;
    border: 1px solid rgb(205, 205, 205);
    border-radius: .8em;
}




/* ------------------aside-section------------------------- */

/* ================main-section media query============= */
@media screen and (min-width:400px) {
    .main-section{
        padding: 3em 6em;
    }
}

@media screen and (min-width:800px) {
    .main-section{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .right-section{
        flex-basis: 60vw;
        margin-right: 5em;
    }
    aside{
       flex-basis: 30vw;
        margin-top: 0;
    }
}

/* ---------------------main-section---------------------- */








/* --------------------footer-section-style-------------------- */
footer {
  background-color: #028576;
  color: #ffffff;
  padding: 2em 1.5em;
}
.footer-heading {
  margin-bottom: 0.2em;
}
.footer-para {
  color: rgb(231, 230, 230);
  font-size: 0.9em;
  margin-bottom: 2em;
}

#footer-social-icon {
  display: flex;
  justify-content: start;
  align-items: center;
}

#footer-social-icon a i {
  color: #eae9e9;
  margin-right: 1em;
}
.footer-service-list {
  display: flex;
  align-items: center;
  margin-top: 2em;
}
.footer-usefull-links li,
.footer-our-services li {
  list-style: none;
}

.footer-usefull-links {
  margin-right: 5em;
}

.footer-usefull-links li,
.footer-our-services li {
  margin-bottom: 1.1em;
  color: rgb(236, 234, 234);
  font-size: 0.9em;
}
.footer-usefull-links-heading strong,
.footer-our-service-heading strong {
  color: #ffffff;
  font-size: 1.1em;
}
.footer-contactus {
  text-align: center;
  margin-top: 3.2em;
}
.footer-contactus h4 {
  margin-bottom: 1em;
}
.footer-address {
  font-size: 0.9em;
  margin: 0 6em 2em 6em;
}
.footer-phone-email {
  font-size: 0.9em;
  margin-bottom: 2em;
}
.footer-phone {
  margin-bottom: 0.5em;
}

.copyright {
  text-align: center;
  font-size: 0.9em;
}
.copyright p i {
  margin-right: 0.4em;
}
.copyright .small-text {
  font-size: 0.9em;
}

@media screen and (min-width: 400px) and (max-width: 800px) {
  footer {
    padding: 3em 4em;
  }
  .footer-contactus {
    text-align: left;
    margin-top: 3.2em;
  }
  .footer-address {
    margin: 2em 0;
  }
}

@media screen and (min-width: 800px) {
  .responsive-desgin {
    display: flex;
    justify-content: space-around;

    margin-bottom: 3em;
  }
  footer {
    padding: 3em 7em;
  }
  .footer-usefull-links {
    margin: 0 4em;
  }

  .footer-our-services {
    margin: 0 3em;
  }
  .footer-contactus {
    margin-top: 0;
  }
  .footer-address {
    font-size: 0.9em;
    margin: 0;
    padding: 0 2em 0 2em;
    text-align: center;
    margin-bottom: 3em;
    width: 14em;
  }
  .footer-heading-section {
    width: 30vw;
  }
  .footer-service-list {
    margin-top: 0;
  }
}
/* --------------------footer-section-style-------------------- */
