*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 50px;
}
.line{
    width: 300px;
    margin-bottom: 10px;
    background-color: bisque;
}

.box{
    width: 300px;
    height: 200px;
    padding: 25px;
    background-color: rgb(127, 255, 212);
}
.height{
    height: 200px;
    width: 50px;
    background-color: bisque;
    margin-left: 10px;
}
.float{
    display: flex;
}
.outline{
    border: 5px solid rgb(9, 193, 18);
    outline: 10px solid black;
    margin-top: 20px;
}