.border{
    border: 1px solid black;
    margin: 5px;
}

.dotted{
    border: 5px dotted gray;
    margin: 5px;
}

.rounded-border{
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
}
.dashed{
    border: 2px dashed gray;
    margin: 5px;
}
.double{
    border: 20px double rgb(16, 16, 127);
    margin: 5px;
}
.groove{
    border: 20px groove rgba(195, 195, 46, 0.759);
    margin: 5px;
}
.ridge{
    border: 20px ridge rgba(75, 108, 8, 0.748);
    margin: 5px;
}
.outset{
    border: 20px outset gray;
    /* border-radius: 10px; */
    margin: 5px;
}

.bottom{
    border-bottom: 5px solid blueviolet;
    margin: 5px;
    background-color: #dcbcfb;
}
.left{
    border-left: 20px solid yellowgreen;
    background-color: yellow;
    margin: 5px;
    padding: 10px;
}
.right{
    border-right: 20px solid skyblue;
    background-color: rgb(55, 53, 53);
    color: antiquewhite;
    margin: 5px;
    padding: 10px;
}
.top{
    border-top: 10px solid green ;
    background-color: greenyellow;
    margin: 5px;
}
.rounded{
    border: 2px solid brown;
    border-radius: 5px 10px 50px 5px;
    width: 500px;
    margin: auto;
    /* padding: -100px; */
}
